@model List<Company>

<div class="container">
	<div class="row pt-4 pb-4">
		<div class="col-6">
			<h1 class="text-primary">Company list</h1>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Company" asp-action="Upsert" class="btn btn-primary">
				<i class="bi bi-plus-circle"></i> Create new company
			</a>
		</div>
	</div>

	<table id="tblData" class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>StreetAddress</th>
				<th>City</th>
				<th>State</th>
				<th>PostalCode</th>
				<th>PhoneNumber</th>
				<th></th>
			</tr>
		</thead>
	</table>
</div>

@section Scripts {
	<script src="~/js/company.js"></script>
}